{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "warn"
  }
}
